<div class="container">
  <h1 class="pageTitle">HOME</h1>
  <div class="row" id="overview">
    <div class="col-12">
      <div class="row panel-row">
        <div class="col-8"><h4>Your Swedbank overview</h4></div>
        <div class="col-4 text-right">
          <a href="#">
            <img src="assets/pdf.svg" alt="pdf" /> PDF
          </a>
        </div>
        <div class="col-12">
          <table class="table">
            <thead class="thead-default">
            <tr>
              <th>Account</th>
              <th class="text-right hidden-sm-down">Balance</th>
              <th class="text-right hidden-sm-down">Credit</th>
              <th class="text-right hidden-sm-down">Reserved</th>
              <th class="text-right">Available</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="#">Siim Tamm</a> EE752200221057734534</td>
              <td class="text-right hidden-sm-down">3 342 0000.00</td>
              <td class="text-right hidden-sm-down">20.00</td>
              <td class="text-right hidden-sm-down">725.00</td>
              <td class="text-right">900.56 EUR</td>
            </tr>
            <tr>
              <td><a href="#">Marju Lepik</a> EE752200221057734534</td>
              <td class="text-right hidden-sm-down">50.90</td>
              <td class="text-right hidden-sm-down">2 000.00</td>
              <td class="text-right hidden-sm-down"></td>
              <td class="text-right">3 000 EUR</td>
            </tr>
            <tr>
              <td><a href="#">Liina Roosipold</a> EE752200221057734534</td>
              <td class="text-right hidden-sm-down">12 041.00</td>
              <td class="text-right hidden-sm-down">20.00</td>
              <td class="text-right hidden-sm-down"></td>
              <td class="text-right">1300.12 EUR</td>
            </tr>
            <tr class="font-weight-bold">
              <td>Total:</td>
              <td class="text-right hidden-sm-down">5456.56</td>
              <td class="text-right hidden-sm-down">456.56</td>
              <td class="text-right hidden-sm-down"></td>
              <td class="text-right font-weight-normal"><span style="font-size: 24px;">456.56</span> EUR</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row panel-row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 bg-white">
              <div class="welcome-panel">
                <div class="panel-arrow arrow-blue">
                  Open
                </div>
                <div class="panel-content">
                  <h5>One of the core values of Swedbank</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipsicing elit.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 bg-white">
              <div class="welcome-panel">
                <div class="panel-arrow">
                  Caring
                </div>
                <div class="panel-content">
                  <p>Cum enim libero quisquam rerum. Dolorum fuga magnam nemo quae voluptas voluptates voluptatum.</p>
                  <ul class="links">
                    <li><a href="#">Read more</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 bg-white">
              <div class="welcome-panel">
                <div class="panel-arrow arrow-pink">
                  Simple
                </div>
                <div class="panel-content">
                  <ul class="panel-list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipsicing elit.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipsicing elit.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
